# https://github.com/itzg/docker-minecraft-server
services:
  proxy:
    image: itzg/mc-proxy
    ports:
      - 25565:25565 # minecraft
      - 24454:24454/udp # simple-voice-chat
    environment:
      TYPE: "VELOCITY"
      ICON: https://luhelan.ch/images/logo.png
      ENV_VARIABLE_PREFIX: "CFG_"
      CFG_MOTD: "Chli chlötzlä!"
      CFG_FORWARDING_SECRET: ${CFG_FORWARDING_SECRET:?}
      REPLACE_ENV_VARIABLES: "true"
      MINECRAFT_VERSION: ${MINECRAFT_VERSION:?}
      MODRINTH_PROJECTS: "simple-voice-chat,velocitab:9GwaxFti,velocitychat:7wXLgXyt,luckperms:GZjsuCmU,proxy-command-reloaded:F6qIyBpN,customcommandsvelocity:utKAZXsh"
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
    tty: true
    stdin_open: true
    restart: unless-stopped
    volumes:
      - ./config/proxy:/config
      - ./data/proxy:/server
    depends_on:
      luckperms-db:
        condition: service_healthy
    networks:
      - default
      - web

  mc-lobby:
    image: itzg/minecraft-server
    ports:
      - 25565 # minecraft
      - 25575 # rcon
      - 24454/udp # simple-voice-chat
    environment:
      DEBUG: false
      SERVER_NAME: Uagadugli Ultras Lobby
      MOTD: "Chli chlötzlä..."
      SEED: lobby
      LEVEL: lobby
      VERSION: ${MINECRAFT_VERSION:?}
      # proxy-command-reloaded:HMDRwgnl
      MODRINTH_PROJECTS: fabric-api,fabricproxy-lite,simple-voice-chat,no-chat-reports,welcome-message,armor-poser,audioplayer,luckperms,vanilla-permissions
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
      VANILLATWEAKS_SHARECODE: ${VANILLATWEAKS_SHARECODE:?}
      OPS_FILE: /config/shared/ops.json
      WHITELIST_FILE: /config/shared/whitelist.json
      ICON: https://luhelan.ch/images/logo.png
      EULA: TRUE
      TYPE: FABRIC
      MODE: adventure
      FORCE_GAMEMODE: true
      OVERRIDE_SERVER_PROPERTIES: true
      ONLINE_MODE: true
      DIFFICULTY: normal
      ENABLE_WHITELIST: true
      ENFORCE_WHITELIST: true
      OVERRIDE_ICON: true
      ENABLE_RCON: true
      MAX_PLAYERS: 20
      ANNOUNCE_PLAYER_ACHIEVEMENTS: false
      SNOOPER_ENABLED: false
      SPAWN_PROTECTION: 0
      VIEW_DISTANCE: 8
      ENABLE_COMMAND_BLOCK: true
      LEVEL_TYPE: flat
      GENERATOR_SETTINGS: >-4
          {
              "layers": [
                  {
                      "block": "minecraft:bedrock",
                      "height": 1
                  },
                  {
                      "block": "minecraft:stone",
                      "height": 62
                  },
                  {
                      "block": "minecraft:grass_block",
                      "height": 1
                  }
              ],
              "biome": "minecraft:jungle"
          }
      GENERATE_STRUCTURES: false
      SPAWN_ANIMALS: false
      SPAWN_MONSTERS: false
      SPAWN_NPCS: false
      REPLACE_ENV_DURING_SYNC: true
      CFG_FORWARDING_SECRET: ${CFG_FORWARDING_SECRET:?}
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule blockExplosionDropDecay false
        gamerule mobExplosionDropDecay false
        gamerule tntExplosionDropDecay false
        gamerule waterSourceConversion true
        gamerule lavaSourceConversion true
        gamerule globalSoundEvents false
        gamerule announceAdvancements false
        gamerule commandBlockOutput false
        gamerule disableElytraMovementCheck true
        gamerule disablePlayerMovementCheck true
        gamerule disableRaids true
        gamerule doMobSpawning false
        gamerule doPatrolSpawning false
        gamerule doTraderSpawning false
        gamerule doDaylightCycle false
        gamerule doWeatherCycle false
        gamerule keepInventory true
        gamerule spawnRadius 0
        setworldspawn 0 0 0
        weather clear
        time set noon
      MAX_TICK_TIME: "-1"
      ENABLE_AUTOPAUSE: true
      AUTOPAUSE_TIMEOUT_EST: 60
      AUTOPAUSE_TIMEOUT_INIT: 60
      MEMORY: "1G"
    tty: true
    stdin_open: true
    restart: unless-stopped
    depends_on:
      luckperms-db:
        condition: service_healthy
    volumes:
      - ./data/lobby:/data
      - ./config/lobby:/config
      - ./config/shared:/config/shared
    networks:
      - default

  mc-survival:
    image: itzg/minecraft-server
    ports:
      - 25565 # minecraft
      - 25575 # rcon
      - 24454/udp # simple-voice-chat
    environment:
      DEBUG: false
      SERVER_NAME: Uagadugli Ultras
      MOTD: "Chli chlötzlä..."
      SEED: 5103687417315433447
      LEVEL: 5103687417315433447
      VERSION: ${MINECRAFT_VERSION:?}
      # alivent-messager,pickaxable-glass,worldedit,proxy-command-reloaded:HMDRwgnl
      MODRINTH_PROJECTS: fabric-api,carpet,fabricproxy-lite,simple-voice-chat,no-chat-reports,armor-poser,audioplayer,welcome-message,luckperms,vanilla-permissions
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
      CF_API_KEY:
      # CURSEFORGE_FILES: carpet
      VANILLATWEAKS_SHARECODE: ${VANILLATWEAKS_SHARECODE:?}
      OPS_FILE: /config/shared/ops.json
      WHITELIST_FILE: /config/shared/whitelist.json
      ICON: https://luhelan.ch/images/logo.png
      # RCON_PASSWORD:
      EULA: TRUE
      TYPE: FABRIC
      MODE: survival
      FORCE_GAMEMODE: true
      OVERRIDE_SERVER_PROPERTIES: true
      ONLINE_MODE: true
      DIFFICULTY: hard
      ENABLE_WHITELIST: true
      ENFORCE_WHITELIST: true
      OVERRIDE_ICON: true
      ENABLE_RCON: true
      MAX_PLAYERS: 20
      ANNOUNCE_PLAYER_ACHIEVEMENTS: true
      SNOOPER_ENABLED: false
      SPAWN_PROTECTION: 0
      VIEW_DISTANCE: 16
      REPLACE_ENV_DURING_SYNC: true
      CFG_FORWARDING_SECRET: ${CFG_FORWARDING_SECRET:?}
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule blockExplosionDropDecay false
        gamerule mobExplosionDropDecay false
        gamerule tntExplosionDropDecay false
        gamerule waterSourceConversion true
        gamerule lavaSourceConversion true
        gamerule globalSoundEvents false
      MAX_TICK_TIME: "-1"
      ENABLE_AUTOPAUSE: true
      AUTOPAUSE_TIMEOUT_EST: 600
      AUTOPAUSE_TIMEOUT_INIT: 300
      MEMORY: "4G"
    tty: true
    stdin_open: true
    restart: unless-stopped
    depends_on:
      mc-survival-restore:
        condition: service_completed_successfully
      luckperms-db:
        condition: service_healthy
    volumes:
      - ./data/survival:/data
      - ./config/survival:/config
      - ./config/shared:/config/shared
    networks:
      - default

  mc-creative:
    image: itzg/minecraft-server
    ports:
      - 25565 # minecraft
      - 25575 # rcon
      - 24454/udp # simple-voice-chat
    environment:
      SERVER_NAME: Uagadugli Ultras Creative
      MOTD: "Chli chlötzlä..."
      SEED: 5103687417315433447
      LEVEL: 5103687417315433447
      VERSION: ${MINECRAFT_VERSION:?}
      # worldedit,proxy-command-reloaded:HMDRwgnl
      MODRINTH_PROJECTS: fabric-api,carpet,fabricproxy-lite,simple-voice-chat,no-chat-reports,armor-poser,audioplayer,luckperms,vanilla-permissions
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
      CF_API_KEY:
      # CURSEFORGE_FILES: carpet
      VANILLATWEAKS_SHARECODE: ${VANILLATWEAKS_SHARECODE:?}
      OPS_FILE: /config/shared/ops.json
      WHITELIST_FILE: /config/shared/whitelist.json
      ICON: https://luhelan.ch/images/logo.png
      # RCON_PASSWORD:
      EULA: TRUE
      TYPE: FABRIC
      MODE: creative
      FORCE_GAMEMODE: true
      OVERRIDE_SERVER_PROPERTIES: true
      ONLINE_MODE: true
      DIFFICULTY: hard
      ENABLE_WHITELIST: true
      ENFORCE_WHITELIST: true
      OVERRIDE_ICON: true
      ENABLE_RCON: true
      MAX_PLAYERS: 20
      ANNOUNCE_PLAYER_ACHIEVEMENTS: false
      SNOOPER_ENABLED: false
      SPAWN_PROTECTION: 0
      VIEW_DISTANCE: 12
      REPLACE_ENV_DURING_SYNC: true
      CFG_FORWARDING_SECRET: ${CFG_FORWARDING_SECRET:?}
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule blockExplosionDropDecay false
        gamerule mobExplosionDropDecay false
        gamerule tntExplosionDropDecay false
        gamerule waterSourceConversion true
        gamerule lavaSourceConversion true
        gamerule globalSoundEvents false
        gamerule announceAdvancements false
        gamerule disableElytraMovementCheck true
        gamerule disablePlayerMovementCheck true
        gamerule doPatrolSpawning false
        gamerule doTraderSpawning false
        gamerule doDaylightCycle false
        gamerule doWeatherCycle false
        gamerule keepInventory true
        weather clear
        time set noon
      MAX_TICK_TIME: "-1"
      ENABLE_AUTOPAUSE: true
      AUTOPAUSE_TIMEOUT_EST: 300
      AUTOPAUSE_TIMEOUT_INIT: 150
      MEMORY: "2G"
    tty: true
    stdin_open: true
    restart: unless-stopped
    depends_on:
      mc-creative-restore:
        condition: service_completed_successfully
      luckperms-db:
        condition: service_healthy
    volumes:
      - ./data/creative:/data
      - ./config/creative:/config
      - ./config/shared:/config/shared
    networks:
      - default

  mc-lan-games:
    image: itzg/minecraft-server
    ports:
      - 25565 # minecraft
      - 25575 # rcon
      - 24454/udp # simple-voice-chat
    environment:
      SERVER_NAME: LuHe-LAN Games
      MOTD: "Geil!"
      SEED: luhelan
      LEVEL: luhelan
      VERSION: ${MINECRAFT_VERSION:?}
      # worldedit,proxy-command-reloaded:HMDRwgnl
      MODRINTH_PROJECTS: fabric-api,carpet,fabricproxy-lite,simple-voice-chat,no-chat-reports,armor-poser,audioplayer,luckperms,vanilla-permissions
      MODRINTH_ALLOWED_VERSION_TYPE: alpha
      MODRINTH_DOWNLOAD_DEPENDENCIES: required
      CF_API_KEY:
      # CURSEFORGE_FILES: carpet
      VANILLATWEAKS_SHARECODE: ${VANILLATWEAKS_SHARECODE:?}
      OPS_FILE: /config/shared/ops.json
      WHITELIST_FILE: /config/shared/whitelist.json
      ICON: https://luhelan.ch/images/logo.png
      EULA: TRUE
      TYPE: FABRIC
      MODE: creative
      FORCE_GAMEMODE: true
      OVERRIDE_SERVER_PROPERTIES: true
      ONLINE_MODE: true
      DIFFICULTY: normal
      ENABLE_WHITELIST: true
      ENFORCE_WHITELIST: true
      OVERRIDE_ICON: true
      ENABLE_RCON: true
      MAX_PLAYERS: 30
      ANNOUNCE_PLAYER_ACHIEVEMENTS: false
      SNOOPER_ENABLED: false
      SPAWN_PROTECTION: 16
      VIEW_DISTANCE: 24
      ENABLE_COMMAND_BLOCK: true
      LEVEL_TYPE: flat
      GENERATOR_SETTINGS: >-4
          {
              "layers": [
                  {
                      "block": "minecraft:bedrock",
                      "height": 1
                  },
                  {
                      "block": "minecraft:stone",
                      "height": 31
                  },
                  {
                      "block": "minecraft:air",
                      "height": 28
                  },
                  {
                      "block": "minecraft:white_concrete",
                      "height": 4
                  }
              ],
              "biome": "minecraft:jungle"
          }
      GENERATE_STRUCTURES: false
      SPAWN_ANIMALS: false
      SPAWN_MONSTERS: false
      SPAWN_NPCS: false
      REPLACE_ENV_DURING_SYNC: true
      CFG_FORWARDING_SECRET: ${CFG_FORWARDING_SECRET:?}
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule blockExplosionDropDecay false
        gamerule mobExplosionDropDecay false
        gamerule tntExplosionDropDecay false
        gamerule waterSourceConversion true
        gamerule lavaSourceConversion true
        gamerule globalSoundEvents false
        gamerule announceAdvancements false
        gamerule commandBlockOutput false
        gamerule disableElytraMovementCheck true
        gamerule disablePlayerMovementCheck true
        gamerule disableRaids true
        gamerule doMobSpawning false
        gamerule doPatrolSpawning false
        gamerule doTraderSpawning false
        gamerule doDaylightCycle false
        gamerule doWeatherCycle false
        gamerule keepInventory true
        weather clear
        time set noon
      MAX_TICK_TIME: "-1"
      ENABLE_AUTOPAUSE: true
      AUTOPAUSE_TIMEOUT_EST: 60
      AUTOPAUSE_TIMEOUT_INIT: 60
      MEMORY: "2G"
    tty: true
    stdin_open: true
    restart: unless-stopped
    depends_on:
      luckperms-db:
        condition: service_healthy
    volumes:
      - ./data/lan-games:/data
      - ./config/lan-games:/config
      - ./config/shared:/config/shared
    networks:
      - default

  mc-survival-backup:
    image: itzg/mc-backup
    depends_on:
      mc-survival:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: "6h"
      PRUNE_BACKUPS_COUNT: 20
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc-survival
      # since this service waits for mc to be healthy, no initial delay is needed
      INITIAL_DELAY: 0
    volumes:
      - ./data/survival:/data:ro
      - ./backups/survival:/backups
    networks:
      - default

  mc-survival-restore:
    image: itzg/mc-backup
    restart: "no"
    entrypoint: restore-tar-backup
    volumes:
      # Must be same mount as mc service, needs to be writable
      - ./data/survival:/data
      # Must be same mount as backups service, but can be read-only
      - ./backups/survival:/backups:ro

  mc-creative-backup:
    image: itzg/mc-backup
    depends_on:
      mc-creative:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: "24h"
      PRUNE_BACKUPS_COUNT: 10
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc-creative
      INITIAL_DELAY: 0
    volumes:
      - ./data/creative:/data:ro
      - ./backups/creative:/backups
    networks:
      - default

  mc-creative-restore:
    image: itzg/mc-backup
    restart: "no"
    entrypoint: restore-tar-backup
    volumes:
      - ./data/creative:/data
      - ./backups/creative:/backups:ro

  mc-survival-to-creative-restore:
    image: itzg/mc-backup
    restart: "no"
    entrypoint: restore-tar-backup
    volumes:
      - ./data/creative:/data
      - ./backups/survival:/backups:ro
    scale: 0

  mc-lan-games-backup:
    image: itzg/mc-backup
    depends_on:
      mc-lan-games:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: "24h"
      PRUNE_BACKUPS_COUNT: 10
      PRUNE_BACKUPS_DAYS: 7
      RCON_HOST: mc-lan-games
      INITIAL_DELAY: 0
    volumes:
      - ./data/lan-games:/data:ro
      - ./backups/lan-games:/backups
    networks:
      - default

  mc-lan-games-restore:
    image: itzg/mc-backup
    restart: "no"
    entrypoint: restore-tar-backup
    volumes:
      - ./data/lan-games:/data
      - ./backups/lan-games:/backups:ro

  luckperms-db:
    image: mariadb:11
    environment:
      MARIADB_DATABASE: luckperms
      MARIADB_ROOT_PASSWORD: luckperms
    volumes:
      - luckperms-db-data:/var/lib/mysql:Z
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    networks:
      - default

volumes:
  luckperms-db-data:

networks:
  default:
  web:
    external: true
